*{
	padding: 0px;
	margin: 0px;
}
.stmnt{
	margin: auto;
}
.video{
	margin: 10px 0px 10px 10px;
}
.stmnt2{
	margin: auto;
}
.div1{
	background-color: #e0ebeb;
}
.div2{
	background-color: #e0ebeb;
}
.div3{
	background-color: #e0ebeb;
}
.div4{
	background-color: #e0ebeb;
}